<div class="container">
    <p>blogs works!</p>
    <h3 #welcome>welcome {{firstName}}</h3>
    <h3>{{getNumber()}}</h3>

    <input [type]="inputType">
    <br>
    <br>
    <img [src]="imagePath">
    <br>
    <br>
    <button (click)="changeName()">Click Here To Change Welcome Name</button>
    <br>
    <br>
    <input type="text" #nameInput placeholder="enter Your Name" (input)="handleInput(nameInput)">
    {{nameInput.value}}
    <br>
    <br>
    <button (click)="add()">+</button>

    <button (click)="sub()">-</button>

    total: {{val}}
    <br>
    <br>
    <form action="">
        <div>
            <input type="text" class="form-control col-6" name="inputdata" [(ngModel)]="inputData" placeholder="Enter Your Name">
            {{inputData}}
        </div>
    </form>
    <br>
    <br>
    <div class="card" style="width: 18rem;">
        <img [src]="imagePath" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <br>
    <br>
</div>